.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #2448b8;
  min-width: 200px;
  min-height: 30px;
  text-transform: uppercase;
}

.content {
  padding: 12px;
}

.btn-fullWidth {
  width: 100%;
}

.btn-selectVideo {
  background-color: #E53935;
  height: 32px;
}

.btn-selectVideo .quantumButtonContent span {
  margin: 7px;
}

.btn-saveConfiguration {
  background-color: #E53935;
  height: 28px;
}

.btn-saveConfiguration .quantumButtonContent span {
  margin: 5px;
}

.section-header {
  background-color: #1976D2;
  margin: 0;
  min-height: 17px;
  font-size: 11px;
  text-transform: none;
}

#configuration {
  display: none;
  background-color: #fff;
}

#configuration .inner {
  padding: 0 2px;
}

.input-configuration {
  margin: 0 0 4px;
}